<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        <title>Expense Receipts</title>
        {% endblock title %}
    </head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_staff %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">My Receipts</a>
                </li>
                <li>
                    <a href="{% url 'categories' %}">My Categories</a>
                </li>
                <li>
                    <a href="{% url 'myaccounts' %}">My Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create Category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create Account</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav

    </header>
    {% block main %}
    {% endblock main %}
</body>

</html>
