{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
</main>
{% endblock main %}