{% extends 'base.html' %}

{% block title %}
<title>Expense Categories</title>
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for name in expensecategory_list %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ name.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock main %}